<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/adminscript.js" defer></script>
    <title>Admin</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/images/logo.png" alt="Your Image">
        </div>
        <h1 class="title">~Welcome Admin!~</h1>
        <nav class="navigation">
            <form id="logout-form" action="/logout" method="POST">
                <button type="submit">Sign out</button>
            </form>
        </nav>
    </header>
    
    <div class="container1">
        <header>Delete User Images</header>
        <form id="get-images-form">
            <div class="field input">
                <label for="username">Enter Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="field">
                <input type="submit" class="btn" value="Get Images">
            </div>
        </form>
        <div class="main">
            <div class="content">
                <div id="image-gallery"></div>
            </div>
        </div>
    </div>
    
    <div class="container2">
        <header>Delete User Account</header>
        <form id="delete-account-form">
            <div class="field input">
                <label for="username-delete">Enter Username</label>
                <input type="text" name="username" id="username-delete" required>
            </div>
            <div class="field">
                <input type="submit" class="btn" value="Delete Account">
            </div>
        </form>
    </div>
</body>
</html>
