<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/medical.css">
    <title>Medical</title>
</head>
<body>
    <div class="posting">
        <a href="profile" class="postbut">Go back!</a>
      </div>
      <div class="news-feed">
        <div class="post">
            <img src="/images/bood.jpg" alt="Random Photo">
            <p class="caption">One year old.</p>
            
        </div>
        <div class="post">
            <img src="/images/blood2.jpg" alt="Random Photo">
            <p class="caption">Two years old!</p>
        </div>
       
    </div>
</body>
</html>