* {
    box-sizing: border-box;
  }
  body {
    font-family: "Lato", sans-serif;
    background: url('/images/cloud.gif') none center top fixed;
  }
     
  .tab {
    float:left;
    margin-left:0;
    background-color: hsl(325, 24%, 63%);
    width: 15vw;
    margin-top: 10vw;
    border-radius: 2vw;
    padding: 1vw 1vw;
  }
  
  .tab button {
    display: block;
    background-color: hsl(325, 24%, 63%, 0.4);
    color: black;
    padding: 2vh;
    width: 100%;
    border: none;
    border-radius: 1vw;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.8vw;
  }
  
  .tab button:hover {
    background-color: hsl(320, 82%, 89%, 0.1);
  }
  
  .tab button.active {
    background-color: hsl(324, 36%, 52%, 0.8);
  }

  .tabcontent {
    float: left;
    padding: 0px 3vw;
    width: 70%;
    border-left: none;
    height: 20vh;
    margin-top: 7vw;
  }
  .logo-container {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .logo-container img {
      width: 12vw; 
      height: auto; 
  }
  .user-info p {
    font-weight: 600;
    font-size: 80%;
  }
  
  .container1 {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 3vw; 
    width: 100%;
}

.box1 {
    background-color: hsl(38, 88%, 93%, 0.5);
    border: 1px solid #ccc;
    padding: 2vw;
    border-radius: 2vw;
    width: 100%;
    text-align: left;
    font-size: 2vw;
    position: relative;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.profilepic {
    display: flex;
    height: auto;
}

.profilepic img {
    width: 23vw; 
    height: auto;
}

.profilepic .user-info {
    flex: 1;
    margin-left: 2vw;
    word-wrap: break-word;
}

  .navigation {
    position: fixed;
    top: 1.2vw;
    right: 1.5vw; 
    display: flex;
    align-items: center;
    background-color: #E3DFFD; 
    border-radius: 7vh;
}

.navigation button {
    text-decoration: none;
    color: black;
    font-size: 1.8vw; 
    font-weight: 100;
    padding: 1.5vw; 
    background-color: #E3DFFD; 
    border: none; 
    border-radius: 4vh; 
    cursor: pointer;
}

.navigation button:hover {
    background-color: #E5D1FA;
}
  
  
  input[type="text"],input[type="number"] {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    height: 25px;
    font-size: 20px;
    /* text-align: center; */
    padding: 10px;
  }

  form label {
    font-size: 2vw;
    font-weight: 600;
  }
  
  .postbut {
    background-color: hsl(284, 45%, 72%); 
    color: black;
    padding: 1vh 2vw; 
    margin-left: 1vw;
    border: none;
    border-radius: 1vw;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5vw; 
    font-weight: bold; 
    text-decoration: none;
  }

  #uploadForm #photoForm {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  
  #photoForm input {
    margin: 5px;
  }

  #photoForm button {
    margin: 5px;
  }
  
  .postbut:hover {
    background-color: hsl(284, 45%, 62%); 
  }
  .main {
    max-width: 800vw;
    font-size: 1.2vw;
    margin: 50px 0;
  }
  
  .content {
    background-color: hsl(38, 88%, 93%, 0.5);
    padding: 1vw;
    border-radius: 1.5vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
  }

  .content img {
    max-width: 60%;
  }

  .posted-image {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .posted-image-description {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
    justify-content: space-between;
  }

  .posted-image-description h3 {
    margin: 0;
  }

  .posted-image-description p {
    margin: 5px 0;
  }

  .posted-image-description .upload-date {
    font-style: italic;

  }
  .posted-image-description .upload-date span {
    font-style: normal;
  }


  
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
    }
  }
  
  .news-feed {
    width: 50vw;
    margin: 0 auto;
  }
  
  .post {
    margin-bottom: 3vh;
    margin-top: 1vw;
    margin-left: 5vw;
    padding: 2vw 2vw;
    background-color: #a358ac;;
    border-radius: 2vw;
  
  }

  .post .image-post {
    border-bottom: 2px solid lightcyan;
  }

  .image-post .image-info h3 {
    margin-bottom: 2px;
  }

  .image-post .image-info p {
    margin-bottom: 2px;
    text-indent: 20px;
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
  }

  .image-post .image-info p:last-child {
    margin-top: 10px;
    margin-bottom: 25px;
    text-indent: 0;
    font-weight: 600;
    background-color: transparent;

  }

  .image-post .image-info p:last-child span {
    font-style: italic;
    font-weight: 500;
  }
  
  .post img {
    width: 100%;
    height: auto;
    border-radius: 2vw;
    padding-top: 1vw;
  }
  
  .post video {
    width: 100%;
    border-radius: 2vw;
    padding-top: 1vw;
  }
  
  .caption {
    font-size: 1.2vw;
    margin-top: 1vw;
  }
  
  .caption-textbox {
    width: 50vw;
    height: 5vw;
    margin-top: 1vw;
    border-radius: 1vw;
    resize: none;
    padding-bottom: 2vw;
  }
  
  .posting {
    width: 50vw;
    margin-left: 5vw;
    text-align: center;
    padding-bottom: 1vw;
    border-radius: 2vw;
    padding-top: 1vw;
  }
  
  .posting button {
    margin-left: 0vw;
    margin-top: 1vw;
    padding: 1.5vw 1.5vw;
    font-size: 1.3vw;
    border-radius: 1.4vw;
    cursor: pointer;
    background-color: #703c76;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
  }
  
  .posting button:hover {
    background-color: #a888ab;
  }

  .posting form input[type="file"] {
    background-color: #a271a7;
    color: #ffffff;
    padding: 1vw 1vw;
    font-size: 1.5vw;
    border-radius: 1vw;
    width: 30vw;
  }
  .posting form input[type="text"] {
    padding: 1vw 1vw;
    font-size: 1.5vw;
    border-radius: 1vw;
    width: 30vw;
  }
  .posting form textarea {
    padding: 1vw 1vw;
    font-size: 1.5vw;
    border-radius: 1vw;
    width: 30vw;
  }

  
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: hsl(284, 45%, 72%); 
    color: black;
    padding: 1vh 2vw; 
    margin-left: 1vw;
    border: none;
    border-radius: 1vw;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5vw; 
    font-weight: bold; 
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 2vw;
    padding: 1vw 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -5vw;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5vw;
    border-width: 0.8vw;
    border-style: solid;
    border-color: #555555 transparent transparent transparent;
  }

  .popup2 {
    display: none; 
    position: fixed;
    top: 7vw; 
    left: 25vw; 
    background-color: hsl(284, 55%, 85%);
    border: 1px solid #888;
    border-radius: 1vw;
    padding: 1vw;
    width: 50%;
    overflow: auto;
    z-index: 9999; 
  }

  .popup2 h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .friend-profile {
    border: 2px solid lightyellow;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }

  .friend-profile .friend-info {
    margin: 0 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
  }

  .friend-profile img {
    max-width: 10em;
    border-radius: 8px;
    border: 2px solid lightpink;
  }

  .friend-profile p {
    margin: 2px;
  }
  .friend-profile span {
    font-weight: 600;
  }

  .retrieved-friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 5px;
    border: 0.5vw solid rgb(219, 128, 240);
    border-radius: 10px;

  }

  .retrieved-friend .req-photo {
    max-width: 20%;
  }

  .retrieved-friend .req-photo img {
    padding: 5px;
    border-radius: 10px;
  }

  .retrieved-friend .req-buttons {
    display: flex;
    flex-direction: column;
  }

  .req-photo img {
    width: 100%;
  }

  .retrieved-friend p {
    margin: 20px 15px;
    font-weight: 500;
    font-style: italic;
  }

  .retrieved-friend p span {
    font-weight: 600;
  }

  .retrieved-friend button {
    margin: 10px;
  }



  .close {
    color: black;
    float: right;
    font-size: 2vw;
    font-weight: bold;
    z-index: 9999;
  }

  #friendRequests h2 {
    z-index: 9999;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(72, 73, 70);
    text-decoration: none;
    cursor: pointer;
  }
  
  form {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin-bottom: 1.5vw;
  }
  
  input[type="submit"] {
    background-color: hsla(40, 85%, 85%, 0.5);
    border: none;
    color: black;
    padding: 1vw 2vw;
    border-radius: 1.5vw;
    cursor: pointer;
    font-weight: bold;
  }
  
  .cont2 {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-top: 6vw;
    margin-left: -30vw;
  }
  
  .boxy2 {
    background-color: hsl(38, 88%, 93%, 0.5 );
    display: flex;
    flex-direction: column;
    border: 0.2vw solid #ccc;
    padding: 1vw 2vw; 
    border-radius: 2vw;
    margin-top: -4vw; 
    width: 30vw; 
    text-align: left; 
    font-size: 1vw;

  }
  .boxy2 label{
    font-size: 1.5vw;
  }
  .boxy2 form input[type="text"] {
    width: 100%; 
    height: 3vw;
    font-size: 1vw;
    padding: 0 1vw;
    border-radius: 1vw;
    border: 0.2vw solid #ccc;
    outline: none;
    box-sizing: border-box; 
  }
  .boxy2 form input[type="date"] {
    width: 100%; 
    height: 3vw;
    font-size: 1vw;
    padding: 0 1vw;
    border-radius: 1vw;
    border: 0.2vw solid #ccc;
    outline: none;
    box-sizing: border-box; 
  }
  
  .btn{
    width: 7vw;
    font-size: 1vw;
  }
  .boxy2 form label {
    display: inline-block;
  }
  
  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 5vw;
    margin-top: -42vw;
    margin-left: 35vw;
  }
  
  .info1 {
    background-color: #fdf2df;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 2vw;
    margin-top: 3vw; 
    font-size: 1.25vw;
    width: 40vw;
  }
  .info1 ul {
    padding: 1vw;
    margin: 0;
    list-style-type: none;
    width: 100%; /* Ensure the ul occupies the full width */
}

.info1 li {
    margin-bottom: 1vw;
}
  #start,
  #end,
  #dat,
  #datee {
    width: 100%; 
  }

  .sch {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-top: 8vw;
  }
  
  .sch2 {
    background-color: hsl(38, 88%, 93%, 0.5 );
    display: flex;
    flex-direction: column;
    border: 0.2vw solid #ccc;
    padding: 1vw 2vw; 
    border-radius: 2vw;
    margin-top: -5vw; 
    max-width: 70vw; 
    text-align: left; 
    font-size: 1vw;
    margin-right: 40vw;
  }
  
  .sch2 form input[type="text"] {
    width: 100%; 
    height: 3vw;
    font-size: 1vw;
    padding: 0 1vw;
    border-radius: 1vw;
    border: 0.2vw solid #ccc;
    outline: none;
    box-sizing: border-box; 
  }

  .sch2 form input[type="number"] {
    width: 100%; 
    height: 3vw;
    font-size: 1vw;
    padding: 0 1vw;
    border-radius: 1vw;
    border: 0.2vw solid #ccc;
    outline: none;
    box-sizing: border-box; 
  }
  .sch2 form input[type="date"] {
    width: 100%; 
    height: 3vw;
    font-size: 1vw;
    padding: 0 1vw;
    border-radius: 1vw;
    border: 0.2vw solid #ccc;
    outline: none;
    box-sizing: border-box; 
  }
  
  .btn1{
    width: 7vw;
    font-size: 1vw;
    border-radius: 1vw;
    margin-top: 2vh;
  }
 
  .sch2 form label {
    display: inline-block;
    margin-top: 2vh;
  }
  .disp {
    margin-left:25vw;
    background-color: #fdf2df;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1vw 1vw;
    border-radius: 2vw;
    margin-top: -42vw; 
    width: 40vw;
    text-align: left; 
    font-size: 1.5vw;
  }
  .disp > * {
    margin-bottom: 1.5vh; 
  }

  .schedule-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.delete-button {
  background-color: #d2afff;
    color: 	black;
    border: none;
    padding: 0.5vw 0.5vw;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 2vw;
}

.delete-button:hover {
    background-color: 	#af7af5;
}



  @media only screen and (max-width: 600px) {
    #start,
    #end,
    #dat,
  #datee {
      width: 50%; 
    }
  }

  .weekly-schedule {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
    margin-top: 20px;
}
.weekly-schedule div {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.weekly-schedule .hour {
    background-color: #f0f0f0;
    font-weight: bold;
}